* {
    margin: 0;
}

body {
    background-color: darkslategrey;
}

header {
    border-bottom: 3px solid gray;
    background-color: black;
}

header h1 {
    color: white;
    background-color: red;
    display: inline-block;
    margin-left: 8px;
    padding: 2px 8px 2px 8px;
}

header nav {
    list-style-type: none;
    display: inline-block;
    margin-top: 10px;
    padding: 0;
}

header nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

header nav li a:hover {
    color: white;
}

header nav li a {
    color: yellow;
    cursor: pointer;
    text-decoration: none;
}

.viewbody {
    margin: 8px;
    background-color: #3f5353;
}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    border-top: 3px solid gray;
    background-color: black;
}

footer p {
    text-align:center;
    color: white;
}

table td {
    color:aliceblue;
}

.trGray {
    background-color:dimgray;
}