@{ 
    ViewBag.Title = "Add ToDo";
}

<form method="post">
    <input type="text" name="toDo" value="" placeholder="ToDo text" />
    <input type="number" name="prio" value="" placeholder="Prio" />

    <input type="submit" value="Save" />
</form>