@model List<Cake>
@{
    ViewData["Title"] = "Bakery Index";

    bool isOdd = true;
}

<h1>Bakery Index</h1>

<form method="post">
    <input type="text" name="name" value="" />
    <input type="number" min="0" name="price" value="" />
    <input type="text" name="details" value="" />
    <input type="submit"  value="Create" />
</form>

<table>
    @foreach (var item in Model)
    {
        if (isOdd)
        {
            @await Html.PartialAsync("_Cake", item)
            isOdd = false;
        }
        else
        {
            @await Html.PartialAsync("_Cake2", item)
            isOdd = true;
        }

    }
</table>